#container {
    background-image: linear-gradient(#ffffffee,#ffffffee),url(../images/foodtrip_bgi.jpg);
    background-size: cover;
    background-position: top;
}
#container>*{
    opacity: 1;
}
header {
    height: 100px;
    background: none;
}
.menu a {
    color: #333;
}
.menu #foodtrip {
    color: #000;
    font-weight: 700;
}
.menu a:hover {
    color: #8A8C3E;
}

.submenu li:hover a {
    color: #8A8C3E;
}
hr {
    width: 950px;
    height: 1px;
    background-color: #D9CDBF;
    opacity: .8;
    border: none;
}

/*-------------------- section ---------------------*/
#postingBoard {
    text-align: center;
}
div.boardTop {
    display: flex;
    flex-direction: column;
}
p.boardTop {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
}

#postingBoard button {
    margin: 0 40px 20px;
    width: 100px;
    height: 25px;
    border: 1px solid #A68965;
    background-color: #FBFBFA;
}
#postingBoard button:hover {
    cursor: pointer;
}

/*-------------------- posting ---------------------*/
#postingBoardDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#postingBoard ul {
    width: 912px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
li.posting {
    margin: 2px;
    background-color: none;
    width: 300px;
    height: 300px;
    position: relative;
    border: 1px solid #ffffff00;
}
li.posting img {
    width: inherit;
    height: inherit;
    border-radius: 10px;
    opacity: .9;
}
li.posting:hover {
    border: 1px solid #333333ee;
    border-radius: 10px;
    cursor: pointer;
}
li.posting img:hover {
    opacity: 1;
}

/*--------------------- review ---------------------*/
.visibilityHidden {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
}
.reviewSection {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #555c;
}
.review-wrapper-back {
    position: relative;
    width: 800px;
    height: 80vh;
    background-color: #fff;
    margin: 10vh auto;

    display: flex;
    align-items: flex-start;

    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.review-wrapper-back::-webkit-scrollbar {
    display: none;
}
#closeReviewBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    border: none;
    background-color: #D9CDBF;
    background-image: url(../images/close_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
#closeReviewBtn:hover {
    background-color: #bbac9b;
    cursor: pointer;
}
.review-wrapper {
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
}
.review-wrapper>h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}

/*--------- 사진 ---------*/
#restaurant-photo-group {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 0px;
    
    position: relative;
}
#restaurant-photo-group img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
/*--------- 정보 ---------*/
#restaurant-text-group {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-size: 18px;
}
#restaurant-text-group .review-element {
    margin: 5px 0 5px 20px;
}
#restaurant-text-group h1 {
    display: inline-block;
    font-size: 32px;
}
#review-score {
    font-size: 1.1em;
    font-weight: 400;
    color: #128117;
}
.review-element #review-date {
    margin-left: 0;
}
#restaurant-text-group p:last-child {
    margin-bottom: 0;
}
.posting-date {
    font-size: 15px;
}
/*-------- 평가 --------*/
#restaurant-comment {
    padding-top: 15px;
}

/*--------------------- write ----------------------*/