
#container {
    background-image: url(../images/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*===================== header =====================*/
header {
    /* background-color: #fff; */
    text-align: center;
    position: relative;
    
    padding-bottom: 20px;
    height: 710px;
}
/*--------------------- motto ----------------------*/
header hr {
    margin-right: 35px;
    margin-bottom: 10px;
    width: 100px;
    height: 2px;
    border-color: #000;
    background-color: #000;
}
.motto {
    padding-right: 35px;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}
.latin {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 40%;
    margin-bottom: 60px;
}
h1.latin:first-of-type {
    margin-top: 170px;
}
/*--------------------- arrow ----------------------*/
header button.arrow {
    position: absolute;
    bottom: 30px;
    background: none;
    border: none;
}
header img.arrow {
    width: 60px;
    transform: rotate(90deg);
}

/*==================== section =====================*/
/*--------------------- first ----------------------*/
#greetingSection {
    height: 1100px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
}
.left-greeting {
    float: left;
    width: 400px;
    margin: 0 10px;

    text-align: right;
    padding-right: 30px;
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: -1px;
}
.left-greeting:first-child {
    margin-top: 200px;
}
.right-greeting {
    float: right;
    width: 500px;
    padding-left: 30px;
    
    margin: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
    letter-spacing: -1px;
    
}
.right-greeting:first-child {
    margin-top: 450px;
}
div.right-greeting .blankP {
    opacity: 0;
    font-size: 10px;
}
.right-greeting#phraseWriter {
    text-align: right;
    padding-right: 50px;
    color: #888;
    font-size: 14px;
}
/*--------------------- second ---------------------*/
#forkSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 768px;
}
#forkSection p {
    margin: 80px auto 50px;
    
    font-family: 'Nanum Myeongjo', serif;
    font-size: 23px;
}
#forkSection hr {
    width: 30px;
    height: 2px;
    margin: 30px;
    background-color: #888;
    border: none;
}
.forkBtn {
    margin: 20px;
    width: 140px;
    height: 60px;
    
    position: relative;
    background: none;
    border: rgb(0, 0, 0, 0);
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
}
.forkBtn a {
    width: inherit;
    height: inherit;
    padding: 1em 1em;
    
    text-decoration: none;
    color: #000;
}
.forkBtn::before, .forkBtn::after {
    content: '';
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.forkBtn::before {
    border: 2px solid #043c1c;
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
.forkBtn:hover::before {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
.forkBtn:hover::after {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
}