#container {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 20px 12px;
    width: 1000px;
    height: 768px;
    background-color: #fff;
    margin: 0 auto; /* 화면 중심에 출력*/
}
/*
    컬러차트
    #043c1c - 딥그린
*/
/*===================== header =====================*/
header {
    background-color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
/*---------------------- menu ----------------------*/
ul.menu {
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    width: 980px;
    height: 70px;
    padding: 10px;
    margin: 0 auto;
}

ul.menu a {
    color: #141414;
    text-decoration: none;
    padding: 0px 12px ;
    display: table-cell;
    vertical-align: middle;
    line-height: 3.5;
}
ul.submenu {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    list-style: none;
    padding: 0;
    background-color: #f0f0f0;
}
ul.menu li:hover ul.submenu {
    visibility: visible;
}
ul.submenu li a {
    padding: 0;
    line-height: 2.2em;
    color: #7c7c7c;
    /* transform: translateY(-10px); */
}

ul.menu>li li:hover a{
    color: #043c1c;
}



/* 메뉴바 공백 */
ul li p {
    color:rgb(0, 0, 0, 0);
    width: 500px;
}
/*---------------------- logo ----------------------*/
header img#homeLogo {
    position: absolute;
    width: 50px;
    left: 475px;
    top: 10px;
}
/*--------------------- motto ----------------------*/
header hr {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100px;
    height: 2px;
    border-color: #000;
    background-color: #000;
}
.motto {
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}
.latin {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 40%;
    margin-bottom: 60px;
}

