/*
    사용위치
    member.html (회원가입)
    login.html (로그인)
*/
/*===================== common =====================*/
.loginSection{
    padding: 25px 0;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joinSection{ /*추가*/
    padding: 25px 0;
    margin-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
table {
    padding: 0 40px;
    text-align: left;
}
thead {
    font-size: 18px;
}
thead th {
    border-bottom: 1px solid #aaa;
}
#submitBtn {
    width: 140px;
    height: 40px;
    background-color: #043c1c;
    border: none;
    border-radius: 50px;
    color: #ddd;
    font-weight: 700;
    letter-spacing: -.5px;
}
#submitBtn:hover{
    cursor: pointer;
}
/*---------------------- join ----------------------*/
.join-table {
    width: 950px;
    margin: 20px;
}

.join-table tr {
    height: 40px;
}
.join-table tr>:first-child {
    width: 120px;
    color: #0D0D0D;
}
.join-table label span {
    color: red;
    padding: 1px;
}
.join-table input {
    margin: 2px;
    height: 25px;
    padding-left: 5px;
    border: 1px solid #aaa;
    background-color: #fbfbfb;
    color: #0D0D0D;
}
.testFailedMsg {
    padding: 10px;
    font-size: 12px;
    color: red;
}
.mailingTd {
    height: 50px;
}
.mailingTd>input, .genderTd>input {
    vertical-align: middle;
}
.genderTd #maleLabel, .genderTd #femaleLabel {
    width: 50px;
    margin: 5px
}
.mailingTd input{
    zoom: 1.2;
}
label.address  {
    height: 100px;
    float: left;
    padding-top: 10px;
}
.joinSection #submitBtn {
    margin-bottom: 50px;
}
.joinSection #submitBtn:hover {
    cursor: pointer;
}

/*--------------------- login ----------------------*/
.login-fieldset {
    width: 500px;
    /* height: 250px; */
    /* border: 1px solid #A68965; */
    border: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}
.login-fieldset .input-div {
    width: 400px;
    margin: 30px;
    padding: 0;
}
.input-div input {
    width: inherit;
    height: 50px;
    padding-left: 15px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    font-size: 15px;
}
.input-div input:first-of-type {
    border-radius: 5px 5px 0px 0px;
}
.input-div input:last-of-type {
    border-radius: 0px 0px 5px 5px;
}
#moveToJoin {
    margin: 30px auto 30px;
    font-size: 15px;
    color: #888;
    text-decoration: none;
}
#moveToJoin:hover {
    color: #043c1c;
    text-decoration: none;
}


footer {
    margin: 0 -12px;
    background-color: #ddd4;
}
